$admin-hover-background-color: rgba(248, 175, 175, 0.5) !default;
$admin-link-color: #f8afaf !default;
$admin-link-border-color: transparent !default;
$admin-link-hover-color: $admin-link-color !default;
$admin-link-hover-background-color: transparent !default;
$admin-link-active-color: #fff !default;
$admin-link-active-background-color: #f8afaf !default;
$admin-link-active-border-color: $admin-link-active-background-color !default;
$admin-z-index: 3 !default;

.admin {
  display: none;

  .is-admin :hover > & {
    display: block;
    background-color: $admin-hover-background-color;
    z-index: $admin-z-index;
  }
}

.admin-btn {
  color: $admin-link-color !important;
  border-color: $admin-link-border-color !important;

  @if ($admin-link-hover-color or $admin-link-hover-background-color) {
    &:hover {
      color: $admin-link-hover-color;
      background-color: $admin-link-hover-background-color;
    }
  }

  .is-admin & {
    background-color: $admin-link-active-background-color !important;
    color: $admin-link-active-color !important;
    border-color: $admin-link-active-border-color !important;
  }
}