$button-border: 0 !default;
$button-outline: none !default;
$button-background-color: transparent !default;
$button-color: inherit !default;
$button-cursor: pointer !default;
$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: inherit !default;
$button-letter-spacing: inherit !default;
$button-line-height: inherit !default;

button {
  border: $button-border;
  outline: $button-outline;
  background: $button-background-color;
  color: $button-color;
  cursor: $button-cursor;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  line-height: $button-line-height;
}