/*
Default classes for the main layout.

 > ".container" can be used for an absolute max width of the site
 > ".content" should be used to wrap all content (outside of modals, menus, etc.)
 > ".wrap" is used to wrap a group of sections
 > ".box" is the default padding for single sections
 */
$container-max-width: 1600px !default;
$container-position: relative !default;

$content-max-width: (
        base:496px,
        sm:none
) !default;

$wrap-max-width: 1440px !default;
$wrap-padding: (
        xs:0 24px,
        sm:0 30px,
        xl:0 60px
) !default;

$box-padding: (
        base:24px 20px,
        sm:40px 20px,
        md:60px 20px,
        lg:80px 20px,
        xl:80px 40px
) !default;

$bled: base;

@if $container-max-width {
  .container {
    position: $container-position;
    margin: 0 auto;
    max-width: $container-max-width;
    overflow-x: hidden;
  }
}

@if $content-max-width {
  .content {
    margin: 0 auto;
  }

  @each $breakpoint, $width in $content-max-width {
    @include media-breakpoint-up($breakpoint) {
      .content {
        max-width: $width;
      }
    }
  }
}

@if $wrap-max-width {
  .wrap {
    margin: 0 auto;
    max-width: $wrap-max-width;
  }
}

@if $wrap-padding {
  @each $breakpoint, $padding in $wrap-padding {
    @include media-breakpoint-up($breakpoint) {
      .wrap {
        padding: $padding;
      }
    }
  }
}

@if $box-padding {
  @each $breakpoint, $padding in $box-padding {
    @include media-breakpoint-up($breakpoint) {
      .box {
        padding: $padding;
      }
    }
  }
}

@if ($bled) {
  @each $breakpoint in $bled {
    @include media-breakpoint-up($breakpoint) {
      .bled#{breakpoint-infix($breakpoint)} {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
}

.section {
  display: block;
  position: relative;
}