/*
Scaffolding.
 */
$body-min-width: 320px !default;
$body-font: 16px/1.4 Arial, sans-serif !default;
$body-color: #000 !default;
$body-background: #fff !default;
$body-font-style: normal !default;
$body-font-weight: 400 !default;
$body-letter-spacing: normal !default;
$body-transition: false !default;

$button-border: 0 !default;
$button-outline: none !default;
$button-background-color: transparent !default;
$button-color: inherit !default;
$button-cursor: pointer !default;
$button-font-family: inherit !default;
$button-font-size: inherit !default;
$button-font-weight: inherit !default;
$button-letter-spacing: inherit !default;
$button-line-height: inherit !default;

$lazyload: true !default;
$lazyload-transition: opacity .2s !default;

/*
Box sizing.
 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
Body.
 */
html {
  height: 100%;
  -ms-text-size-adjust: 100%; // Correct the line height in all browsers.
  -webkit-text-size-adjust: 100%; // Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); // Changes the default tap highlight to be completely transparent in iOS.
}

html, body, ul, ol, li, table, td, figure, p, button {
  margin: 0;
  padding: 0;
}

body {
  min-width: $body-min-width;
  font: $body-font;
  font-style: $body-font-style;
  font-weight: $body-font-weight;
  color: $body-color;
  background: $body-background;
  overflow-y: scroll;
  overscroll-behavior: none;
  letter-spacing: $body-letter-spacing;

  @if ($body-transition) {
    transition: $body-transition;
  }
}

/*
Structure.
 */
main, header, nav, section, main, picture {
  display: block;
}

ul {
  list-style: none;
}

button {
  border: $button-border;
  outline: $button-outline;
  background: $button-background-color;
  color: $button-color;
  cursor: $button-cursor;
  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;
  letter-spacing: $button-letter-spacing;
  line-height: $button-line-height;
}

/*
Media.
 */
img, svg, video {
  display: block;
  width: 100%;
  border-style: none; // Remove the border on images inside links in IE 10-.
  -webkit-user-drag: none;
}

picture img {
  height: 100%; // Makes sure image fit picture wrap.
}

.img-wrap {
  position: relative;
  display: block;
  overflow: hidden;

  & > * {
    @extend .overlay;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@if $lazyload {
  .lazyload, .lazyloading {
    opacity: 0;
  }

  .lazyloaded {
    opacity: 1;
    transition: $lazyload-transition;
  }
}