/*
Slider.
 */
.slider {
  position: relative;
  user-select: none;
}

.slider-track {
  overflow: hidden;
}

.slider-row {
  -ms-overflow-style: none;
  overflow-scrolling: touch;
  //noinspection CssUnknownProperty
  scrollbar-width: none;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.slider-item {
  padding: 40px 20px 0;

  &:not(:last-child) {
    padding-right: 0 !important;
  }

  @include media-breakpoint-up(md) {
    padding: 40px;

    &:first-child {
      padding-left: 60px;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 60px;

    &:first-child {
      padding-left: 80px;
    }
  }

  @include media-breakpoint-up(xl) {
    padding: 100px;

    &:first-child {
      padding-left: 120px;
    }
  }
}

.slider-asset {
  position: relative;
  width: 220px;
}

.slider-img {
  border-radius: 4px;
}

.slider-name {
  margin: 20px 0 10px;
  font-size: 18px;
}

.preview {
  @include media-breakpoint-up(md) {
    position: relative;
    padding: 40px;
    width: 300px;
    background-color: #EBE9DE;

    &::after {
      position: absolute;
      width: 16px;
      height: 188px;
      bottom: 0;
      right: -16px;
      z-index: 1;
      content: '';
      background: url(/images/site/nuk.svg) no-repeat;
    }
  }

  @include media-breakpoint-up(lg) {
    padding: 60px;
    width: 450px;
  }

  @include media-breakpoint-up(xl) {
    padding: 100px;
    width: 490px;
  }
}

.preview-name {
  margin-bottom: 50px;
}

/*
Gallery.
 */
.gallery {
  position: relative;
}

.asset {
  display: none; // For lazyload.
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s;
  @extend .overlay;

  &.active {
    display: block;
    position: relative;
    visibility: visible;
    opacity: 1;
  }
}

.arrow {
  position: absolute;
  bottom: -3px;
  width: 30px;
  height: 30px;
  font-size: 0;
  outline: none;
  background: url(/images/site/arrow.svg) no-repeat;
  border: 2px solid #293948;
  transition: transform .2s;
  border-radius: 50%;
  z-index: 1;
}

.arrow-prev {
  right: 70px;
}

.arrow-prev{
  @media (hover: hover) {
    &:hover {
      transform: scale(1.2, 1.2);
    }
  }
}

.arrow-next {
  right: 20px;

  @media (hover: hover) {
    &:hover {
      transform: rotate(180deg) scale(1.2, 1.2);
    }
  }
}

.arrows-wrap {
  position: relative;
}