/*
Variables.
 */
$headlines: h1, h2, h3, h4 !default;

$headline-margin: 0 !default;
$headline-font-family: inherit !default;
$headline-font-weight: inherit !default;
$headline-line-height: 1.1 !default;
$headline-letter-spacing: inherit !default;

$texts: (
        small:(
                base: .875rem
        ),
        h1:(
                base:3rem,
        ),
        h2:(
                base:2rem,
        ),
        h3:(
                base:1.5rem,
        ),
) !default;

$text-center: base !default;
$text-left: false !default;
$text-right: falde !default;

$strong-font-weight: 700 !default;
$paragraph-margin-top: 1em !default;

$link-color: inherit !default;
$link-hover-color: $link-color !default;
$link-text-decoration: none !default;
$link-transition: color .2s !default;
$link-outline: none !default;

/*
Text.
 */
%headline {
  margin: $headline-margin;
  padding: 0;
  font-family: $headline-font-family;
  font-weight: $headline-font-weight;
  line-height: $headline-line-height;
  letter-spacing: $headline-letter-spacing;
}

@each $headline in $headlines {
  #{$headline}, .#{$headline} {
    @extend %headline;
  }
}

@each $tag, $sizes in $texts {
  #{$tag}, .#{$tag} {
    @each $breakpoint, $size in $sizes {
      @include media-breakpoint-up($breakpoint) {
        font-size: $size;
      }
    }
  }
}

@if ($text-center) {
  @each $breakpoint in $text-center {
    @include media-breakpoint-up($breakpoint) {
      .text-center#{breakpoint-infix($breakpoint)} {
        text-align: center;
      }
    }
  }
}

@if ($text-left) {
  @each $breakpoint in $text-left {
    @include media-breakpoint-up($breakpoint) {
      .text-left#{breakpoint-infix($breakpoint)} {
        text-align: left;
      }
    }
  }
}

@if ($text-right) {
  @each $breakpoint in $text-right {
    @include media-breakpoint-up($breakpoint) {
      .text-right#{breakpoint-infix($breakpoint)} {
        text-align: right;
      }
    }
  }
}

p:not(:first-child) {
  margin-top: $paragraph-margin-top;
}

strong, .strong {
  font-weight: $strong-font-weight;
}

/*
Links.
 */
a {
  color: $link-color;
  text-decoration: $link-text-decoration;
  transition: $link-transition;
  outline: $link-outline;

  &:hover, &:active {
    color: $link-hover-color;
  }
}