$video-btn-width: 60px !default;
$video-btn-height: 60px !default;
$video-btn-border-radius: 50% !default;
$video-btn-background: #fff url(/images/site/play.svg) no-repeat center !default;
$video-btn-background-active: #f1f1f1 !default;
$video-btn-transform: translate(-50%, -50%) !default;
$video-btn-transition: background-color .3s !default;
$video-bg: #dedfd6 !default;
$video-iframe-z-index: 3 !default;

.video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $video-btn-width;
  height: $video-btn-height;
  border-radius: $video-btn-border-radius;
  background: $video-btn-background;
  transform: $video-btn-transform;

  @if $video-btn-transition {
    transition: $video-btn-transition;
  }
}

.has-video {
  background-color: $video-bg;
  //noinspection CssInvalidPropertyValue
  -webkit-mask-image: -webkit-radial-gradient(white, black); // This fixes border-radius issues in Safari.

  & > picture {
    opacity: 0;
  }
}

@if $video-btn-background-active {
  .video {
    &:hover {
      .video-btn {
        background-color: $video-btn-background-active;
      }
    }
  }
}

.video-iframe {
  display: none;
  background-color: $video-bg;
  transform: scale(1.01); // Hides borders in iframe (YouTube)
  z-index: $video-iframe-z-index; // Hides copyright
}
